<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CitiBike Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="title">
        <h1>CitiBike Market</h1>
    </div>
    
    <h2>Contract List</h2>
    <thead>
        <tr>
            <th>Station Name</th>
            <th>Current bike count</th>
            <th>Strike</th>
            <th>Exp time</th>
        </tr>
        </thead>
    <div id="contract-list-container" class="scrollable-div">
        <table id="contract-table">
            <tbody></tbody>
        </table>
    </div>

<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
